body {
  margin: 0%;
  /* background-color: #fff1d0; */
  /* background-color:#D1B490; */
  background-color: white;
}

h1 {
  letter-spacing: 5px;
  text-align: center;
}

header {
  font-family: "Cinzel", serif;
  width: full;
  height: full;
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem 1rem;
  position: sticky;
  margin: 1rem auto;
  top: 0rem;
  bottom: 0.625rem;
  opacity: 50%;
  background-color: white;
  border: 1px white solid;
  border-width: thin;
  z-index: 3;

  /* background-color: #fff1d0; */
}

img {
  width: 100%;
  height: 50%;
  z-index: 2;
}

.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* When resizing window, text moves */
#centered p {
  font-family: "Lovers Quarrel", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  padding-top: 50px;
  font-weight: normal;
}

a:link {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  word-wrap: normal;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

main {
  text-align: center;
  word-wrap: normal;
}

.intro {
  margin: 0 auto;
  width: 78.13rem;
  font-size: 1.8rem;
  padding-top: 6rem;
  font-family: "Lora", serif;
}

.aboutme {
  display: inline-block;
  width: 62.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem;
  line-height: 2;
  font-family: "Lora", serif;
}

.quick_summary {
  display: block;
  width: 62.5rem;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 1rem;
}

.quick_summary h3 {
  font-size: 2.5rem;
  font-family: "Lora", serif;
}
li {
  list-style-position: inside;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Lora", serif;
}

#instagram {
  content: url("C:/Users/Christian Mortera/Downloads/instagram.png");
  height: 2em;
  width: 2em;
}

#linkedin {
  content: url("C:/Users/Christian Mortera/Downloads/linkedin.png");
  height: 2em;
  width: 2em;
}

#facebook {
  content: url("C:/Users/Christian Mortera/Downloads/facebook.png");
  height: 2em;
  width: 2em;
}

footer {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 4em;
  text-align: center;
}
