body {
  margin: 0%;
}

h1 {
  letter-spacing: 5px;
  text-align: center;
}

header {
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem 0rem;
  position: sticky;
  margin: 1rem 1rem;
  top: 10px;
  opacity: 50%;
  background-color: white;
}

img {
  width: 100%;
  height: 50%;
}

a:link {
  text-decoration: none;
  color: #724e91;
}

main {
  text-align: center;
}

li {
  list-style-position: inside;
  text-align: center;
}
footer {
  text-align: center;
}
